@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primaryLight: #22c55e;
  --color-dark: #050505;
  --color-softDark: #0f0f0f;
  --color-darkGreen: #14532d;
  --color-card: #111111;
  --color-muted: #a1a1aa;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark);
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 999px;
}

@keyframes slowZoom {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.1);
  }
}

.animate-slowZoom {
  animation: slowZoom 12s ease-in-out infinite alternate;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientFlow 10s ease infinite;
}
